{% extends "base.html" %}

{% block content %}

<style>
body {
  overflow: hidden;
}

body {
    background: url({{url_for('static',filename='usagePic.png')}}) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#grad {
  background-color: red;
  background-image: linear-gradient(to right, red , yellow);
}

div.containerCenter{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
</style>

<div class="p-3 mb-2 bg-success text-white"  id="grad">
  <h1 class="title">SHAREBOARD</h1>
</div>

<div class="container" id="mainContainer">
  <div class=containerCenter>
    <div class="card-deck">
      <div class="row">

        <div class="card border-primary mb-3" style="max-width: 20em;">
          <div class="card-header text-primary"><h2>Join Room</h2></div>
          <div class="card-body text-primary">
            <p class="card-text text-primary">Join with a code.</p>
            <form class="test" action="/joinRoom" method="post">
              <input class="form-control form-control-lg text-primary" type="text" name="roomNumber" placeholder="Use your room code!" id="roomNumber">
              <div>&nbsp;</div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">Join Room</button>
            </form>
          </div>
        </div>

        <div class="card border-success mb-3" style="max-width: 20em;">
          <div class="card-header text-success"><h2>Create Room</h2></div>
          <div class="card-body text-success">
            <p class="card-text text-success">Create a code.</p>
            <form class="test" action="/createRoom" method="post">
              <input class="form-control form-control-lg text-success" type="text" name="roomNumber" placeholder="Pick a room code!" id="roomNumber">
              <div>&nbsp;</div>
              <button type="submit" class="btn btn-success btn-lg btn-block">Create Room</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div id="failer" style="visibility: hidden; background-color:red;" class="card container">
	<h1>YOU TRIED TO DO SOMETHING THAT WAS NOT LEGIT. Maybe you accidentally tried to join a nonexistant room, or create a room that already existed. Try again. </h1>
</div>

<script type="text/javascript">
  let val = window.location.href.substr(window.location.href.search("value=")+6);
  if(val == "Fail"){
    $("#failer").css('visibility', "visible");
  }
</script>

<script type="text/javascript">
  function joinRoomF() {
    $.ajax({
      type: "POST",
      contentType: "application/json; charset-utf-8",
      url: "/joinRoom",
      data: $("#joinRoomCode").val(),
      dataType: "json"
    });
  }
</script>
{% endblock %}
